body{
    position: relative;
    background-image: linear-gradient(to right, rgb(253, 253, 253), rgb(226, 219, 226));
}
.hero-background{
    background-image: linear-gradient(to right, rgb(228, 177, 221), rgb(31, 27, 31));
    margin-top: 55px;
}

.navbar-brand{
  color: white !important;
}

.nav-link.active {
    color: black !important;
  }

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
 
#about{
    display: flex;
    margin-top: 90px;
    padding-bottom: 60px;
}  
#about h2{
    text-align: center;
    margin: 70px 0px 0px 50px;
    letter-spacing: 2px;
}
#about p{
    padding:50px;
}

.photo{
    height:50%;
    width:50%;
    margin-top: 100px;

}

#skills{
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

#skills h2{
  text-align: center;
  margin: 70px 0px 50px 50px;
  letter-spacing: 2px;
}
#skills img{
  height: 80px;
  width: 80px; 
  margin:50px 0px 0px 50px ;
}

#projects{
  margin-top: 120px;
}

#projects h2{
  text-align: center;
  margin: 60px 0px 0px 50px;
  letter-spacing: 2px;
}


.project-modal{
  margin:70px 0px 0px 50px ;
}
.project-modal img{
  border: 1px solid black;
  margin-top:10px;
}
 .project-modal p{
   margin-top:10px;
   margin-left:100px; 
 }


@media (max-width:767px){
    .photo{
        height:100%;
        width:100%;
        margin-left: 100px;
    }
}